/* Contact.css */

/* Sección principal de contacto */
.contact-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* No permite interacción por defecto */
  overflow: hidden;
}

/* Contenedor del formulario */
.form-container {
  background-color: rgba(255, 255, 255, 0.95); /* Fondo translúcido */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  pointer-events: auto; /* Permitir interacción en el formulario */
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

/* Permitir interacción con el footer */
footer {
  pointer-events: auto; /* Permitir interacción en el footer */
}

/* Animación de aparición del formulario */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo del formulario */
.contact-form {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.2s ease forwards;
}

.contact-form label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #6b8dde;
  box-shadow: 0 0 10px rgba(107, 141, 222, 0.3);
  outline: none;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  overflow: hidden;
  width: 100%; /* Asegura que el botón ocupe todo el ancho */
}

.contact-form button.loading {
  background-color: #8f9933; /* Color durante la carga */
}

.contact-form button.submitted {
  background-color: #32cd32; /* Color después del envío */
}

.contact-form button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.4s ease;
  border-radius: 50%;
}

.contact-form button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.contact-form button:hover::before {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

/* Animación de éxito o error */
.success-message, .error-message {
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

/* Animación fadeIn para mensajes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
