.programs-section h2 {
  font-size: 36px; /* Tamaño del texto más grande */
  margin-bottom: 20px; /* Ajusta el espacio debajo del título */
  font-weight: bold; /* Resalta el título */
}

.offer-container {
  padding: 20px;
  opacity: 0;
  animation: fadeInAnimation 1s forwards; /* Añadido para que aparezca suavemente */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px); /* Los elementos suben al aparecer */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.programs-section {
  text-align: center;
}

.program-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Nueva clase para tarjeta seleccionada */
.program-card.selected {
  border: 2px solid #8f9933; /* Cambia el borde a un color diferente cuando esté seleccionado */
  background-color: #e0e0e0; /* Opcional: un color de fondo diferente para indicar que está seleccionado */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  transform: scale(1);
  animation: fadeIn 0.3s forwards; /* Animación más rápida */
  border: 2px solid white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Aparece deslizándose hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: black;
}

.redirect-button {
  background-color: #8f9933;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  margin-top: 20px;
}

.redirect-button:hover {
  background-color: #7e8830;
  box-shadow: 0 0 20px rgba(143, 153, 51, 0.7);
  transform: scale(1.05);
}

.redirect-button.active {
  animation: glow 0.5s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(143, 153, 51, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(143, 153, 51, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(143, 153, 51, 0.7);
  }
}

.redirect-button:disabled {
  background-color: rgba(143, 153, 51, 0.7);
  cursor: not-allowed;
}

/* Spinner para la carga */
.spinner {
  border: 6px solid rgba(143, 153, 51, 0.3); /* Color de fondo */
  border-top: 6px solid #8f9933; /* Color de la parte superior */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
