/* Estilos para el contenedor de gestión de cuenta */
.account-management-container {
    padding: 20px; /* Espaciado interno */
    background-color: rgb(255, 255, 255); /* Fondo blanco con transparencia */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 600px; /* Ancho máximo */
    margin: 20px auto; /* Centrar en la página */
  }
  
  /* Estilo para el título de la gestión de cuenta */
  .account-management-title {
    color: #333; /* Color del texto */
    font-size: 28px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Margen inferior para separación */
  }
  
  /* Estilo para el campo de entrada */
.text-field {
    margin-bottom: 15px; /* Espaciado entre campos */
    width: 100%; /* Ocupa todo el ancho */
    background-color: #ffffff; /* Fondo blanco para el campo de entrada */
    border: 1px solid rgba(0, 0, 0, 0.498); /* Borde suave */
    border-radius: 4px; /* Bordes redondeados */
    transition: border-color 0.6s ease; /* Transición suave para el borde */
  }
  
  /* Efecto al enfocarse en el campo */
  .text-field:focus {
    border-color: #4caf50; /* Color del borde al hacer foco */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Sombra suave al enfocar */
  }
  
  
  /* Estilo para el botón de guardar cambios */
  .save-button {
    margin-top: 20px; /* Margen superior para separación */
    background-color: #4caf50; /* Color de fondo verde */
    color: white; /* Color del texto */
    transition: background-color 0.3s ease; /* Transición suave */
    width: 100%; /* Botón ocupa todo el ancho */
  }
  
  /* Efecto hover para el botón */
  .save-button:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
  }
  
  /* Estilo para la lista */
  .field-list {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar el padding */
    margin: 0; /* Quitar el margen */
  }
  
  /* Estilo para cada item de la lista */
  .field-list-item {
    margin-bottom: 15px; /* Espaciado entre items */
  }
  